# Application
NODE_ENV=development
PORT=3000
API_PREFIX=v1
LOG_LEVEL=info
PRETTY_LOGS=false

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cocos_challenge?schema=public
E2E_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cocos_challenge
